# Git
.git
.gitignore

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Environments
.env
.venv
venv/
ENV/

# Local Data (Crucial for ML)
data/
outputs/
model_bins/*.json
*.csv
*.parquet
*.sqlite3

# Docker/IDE
.dockerignore
Dockerfile
docker-compose.yml
.vscode/
.idea/